.choice-container {
    font-family: "Bungee", sans-serif;
    margin: 5pt;
    width: 200px;
    padding: 10pt;
    height: fit-content;
    border-radius: 50px;
    border: solid #ffffff;
    text-align: center;
    background: linear-gradient(90deg,  rgb(0, 128, 128),rgb(145, 248, 229),rgb(0, 128, 128) 100%);
}

.choice-container:hover {
    cursor: pointer;
    background: rgb(255, 255, 255);
    transition: transform 100ms;
    transform: scale(1.02);
}

.correct {
    background-color: rgb(3, 215, 52);
}

.incorrect {
    background-color: rgb(218, 0, 0);
}

#progressBar {
    width: 500px;
    height: 30px;
    border: 3px solid rgb(3, 215, 52);
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull{
    width: 0%;
    height: 100%;
    background: rgb(3, 215, 52);  
}